{% extends 'padre.html'%}

{% load static %}

{% block contenido %}

<div class="col-lg-6 order-lg-1 my-auto showcase-text">
    <h2>Acerca de mi</h2>
    <p class="lead mb-0">Mi nombre es Nicolás Vargas, hice la carrera de Desarrollo Web en ISTEA graduandome en el año 2022.
        Actualmente estoy buscando un lenguaje de programación que sea de mi gusto y Python es tremendamente
        flexible, potente, fácil y multipropósito. Es muy probable que continue con este orientandome al
        desarrollo o Data Science.  
    </p>
</div>

{% endblock contenido %}