{% extends 'padre.html'%}

{% load static %}

{% block contenido %}

<div class="col-lg-6 order-lg-1 my-auto showcase-text">
    <h2>Para contactarme</h2>

    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
        <ul class="list-inline mb-0">
            <li class="list-inline-item me-4">
                <a target="_blank" href="https://www.linkedin.com/in/nicolas-jorge-vargas-56219317/"><i class="bi-linkedin fs-3"></i></a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://github.com/nicovargas2"><i class="bi-github fs-3"></i></a>
            </li>
        </ul>
    </div>
</div>

{% endblock contenido %}